<style>
  .pf-c-alert {
    opacity: 0;
    transition: all 0.6s;
    z-index: 1000;
    position: fixed;
    width: 60vw;
    top: -2vh;
    right: 0;
    left: 0;
    margin: auto;
  }

  .pf-c-alert.visible {
    opacity: 1;
    top: 7.5vh;
  }

  .pf-m-8-col {
    overflow: scroll
  }
</style>

{{!-- Success alert for when items create successfully --}}
<div class="pf-c-alert pf-m-success" aria-label="Success alert">
  <div class="pf-c-alert__icon">
    <i class="fas fa-check-circle" aria-hidden="true"></i>
  </div>
  <h4 class="pf-c-alert__title">
    <span class="pf-screen-reader">Success alert:</span>
    <span>Order submitted successfully.</span>
  </h4>
</div>

{{!-- Error alert for when api requests fail --}}
<div class="pf-c-alert pf-m-danger" aria-label="Danger alert">
  <div class="pf-c-alert__icon">
    <i class="fas fa-exclamation-circle" aria-hidden="true"></i>
  </div>
  <h4 class="pf-c-alert__title">
    <span class="pf-screen-reader">Danger alert:</span>
    <span>Failed to submit order. Try again later.</span>
  </h4>
</div>

<div class="pf-c-page">
  <header role="banner" class="pf-c-page__header">
    <div class="pf-c-page__header-brand">
      <a class="pf-c-page__header-brand-link">
        RHMI Order Portal
      </a>
    </div>
    <div class="pf-c-page__header-tools">
      Hello, {{ username }}!
    </div>
  </header>

  <main role="main" class="pf-c-page__main pf-l-grid">
    <div class="pf-l-grid__item pf-c-page__main-section pf-m-4-col pf-m-light">
      <h1 class="pf-c-title pf-m-3xl pf-u-mb-sm">
        Order Form
      </h1>
      <p>Use this form to create an order. All fields are mandatory.</p>
      <br>
      <form class="pf-c-form" name="order-form">
        <div class="pf-c-form__group">
          <label class="pf-c-form__label" for="order.product-name">
            <span class="pf-c-form__label-text">Name</span>
            <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
          </label>
          <input class="pf-c-form-control" pattern="[A-Za-z ]{1,32}" type="text" id="order.product-name" name="order.product-name" required>
        </div>
        <div class="pf-c-form__group">
          <label class="pf-c-form__label" for="order.product-quantity">
            <span class="pf-c-form__label-text">Quantity</span>
            <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
          </label>
          <input class="pf-c-form-control" pattern="[0-9]{1,3}" type="text" id="order.product-quantity" name="order.product-quantity" required>
        </div>
        <button id="submit-btn" onclick="submitForm(); return false;" class="pf-c-button pf-m-primary"  value="Submit" type="submit">
          Submit Order
        </button>
      </form>
    </div>
    <div class="pf-l-grid__item pf-c-page__main-section pf-m-8-col pf-u-box-shadow-inset  ">
      <h1 class="pf-c-title pf-m-3xl pf-u-mb-sm">
        Order History
      </h1>
      <br>
      <table class="pf-c-table pf-m-grid-md" role="grid" aria-label="This table lists all your orders" id="order-table">
        <thead>
          <tr>
            <th>
              Product
            </th>
            <th>
              Quantity
            </th>
            <th>
              Datetime
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each orders}}
            <tr>
              <td>{{product}}</td>
              <td>{{quantity}}</td>
              <td>{{datetime}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </main>
</div>

<script type="text/javascript">
  function showSuccessAlert () {
    const alert = document.getElementsByClassName('pf-c-alert')[0]

    alert.classList.add('visible')

    setTimeout(() => {
      alert.classList.remove('visible')
    }, 3000)
  }

  function showErrorAlert () {
    const alert = document.getElementsByClassName('pf-c-alert')[0]

    alert.classList.add('visible')

    setTimeout(() => {
      alert.classList.remove('visible')
    }, 3000)
  }

  function updateTable (orders) {
    const tbody = document.getElementsByTagName('tbody')[0]
    tbody.innerHTML = ''

    orders.forEach(order => {
      const { product, quantity, datetime } = order
      const tr = document.createElement('tr')
      const arr = [product, quantity, datetime]

      arr.forEach(value => {
        const td = document.createElement('td')
        td.innerHTML = value
        tr.appendChild(td)
      })

      tbody.appendChild(tr)
    })
  }

  function submitForm (e) {
    const form = document.getElementsByName('order-form')[0]

    if (!form.checkValidity()) {
      return form.reportValidity()
    }

    const button = document.getElementById('submit-btn')
    const product = document.getElementById('order.product-name')
    const quantity = document.getElementById('order.product-quantity')

    button.disabled = true

    setTimeout(() => {
      fetch('/api/order', {
        method: 'POST',
        body: JSON.stringify({
          product: product.value,
          quantity: quantity.value
        }),
        headers: {
          'content-type': 'application/json'
        }
      })
        .then((response) => {
          if (response.status === 200) {
            showSuccessAlert()
            product.value = ''
            quantity.value = ''

            // Get the orders from the response and render the table
            return response.json()
          } else {
            // Error modal
            button.disabled = false
          }
        })
        .then(orders => {
          button.disabled = false
          updateTable(orders)
        })
        .catch((e) => {
          // Error modal
          button.disabled = false
        })
    }, 500)
  }
</script>
