<main role="main" class="pf-c-page__main">
  <section style="text-align: center;" class="pf-c-page__main-section pf-m-light">
    <div style="padding-top: 40vh;">
      <i style="font-size: 48pt; opacity: 0.5;" class="fas fa-car-crash pf-u-mb-lg"></i>
      <h1 style="font-weight: 600;" class="pf-c-title pf-m-xl pf-u-mb-sm">
        You don't have any orders yet.
      </h1>

      <p style="opacity: 0.7;">Use the button below to create your first order</p>

      <button onclick="window.orderModal.show()" class="pf-c-button pf-m-primary pf-u-mt-lg" type="button">
        Create an order
      </button>
    </div>
  </section>
</main>
